<!DOCTYPE>
<html>
<head>
  <title>Products</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
  <h1>Products</h1>       
  <form method="post" action="/add">
    <input type="submit" value="Thêm sản phẩm" class="btn btn-primary">
  </form> 
  <hr>
  <h2>Danh sách sản phẩm</h2> <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Mã </th>
        <th>Tên </th>
        <th>Đơn giá</th>
        <th>Hình ảnh</th>
        <th>Màu sắc</th>
        <th>Chức năng</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Mã</td>
        <td>Tên</td>
        <td>Giá</td>
        <td>Hình ảnh</td>
        <td>Màu</td>
        <td>Sửa/xóa</td>
      </tr>
      
    </tbody>

  </table>
</div>

</body>
</html>